@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



:root {
/* Basic color scheme */

    --bgheader: #20122fcb;
    --bgprimary-color: #20122f;
    --bgsecondary-color: #3f2958;
    --bgtertiary-color: #b6bfff;
    --bgbanner-color: #392c47;
    --bgradientradial: #DFE8FF;
    --text-color: #ffffff;
    --text-color2: #efefef;
    --border-color: #232323;

    --Disabled: #949494;
    --PrimaryColor: #ffffff;
    --SecondaryColor: #FFFC5E;
    --ActiveColor: #d2b34e;

    --SecondaryActiveColor: #ffffff;
    --DisabledSecondary: #D9D9D9;

    --ScrollThumb: #4c3469;
    --Scrollradius:2px;
    
    --selectioIndicator: #ffe927;
/* Basic color scheme */

    




/* Images and visuals*/

    --promo-image-intro: url('../assets/cyberpromo.png');
    --hero-image:url('../assets/cool.png');
    --logoPrimaryColor: #FFE500;
    --logoSecondaryColor: #00ffd9;

/* Images and visuals*/



/* Universal Type */

    --DefaultFont: "Bai Jamjuree", sans-serif;
    --DefaultFontColor:#ffffff;

    --h1-size:2.25rem;
    --h1-weight:normal;
    --h1-letterspacing:normal;
    --h1-color:#ffffff;
    --logoFontColor:#20122f;
    --h2-size:2rem;
    --h2-weight:normal;
    --h2-letterspacing:normal;
    --h2-color:#fff;

    --h3-size:1.125rem;
    --h3-weight:bold;
    --h3-letterspacing:normal;
    --h3-color:#ffffff;

    --p-size:0.9rem;
    --p-weight:normal;
    --p-letterspacing:normal;
    --p-color:#dbdbdb;

    --p2-size:0.8rem;
    --p2-weight:normal;
    --p2-letterspacing:normal;
    --p2-color:#e0e0e0;

/* Universal Type */


/* Button  */
    --button-fill-color:none;
    --button-padding: 12px 20px;
    --button-border-radius: 8px;
    --button-border-size: 2px;
    --button-border-color: #FFFC5E;


    --ctatext-size:1rem;
    --ctatext-weight:normal;
    --ctatext-letterspacing:normal;
    --ctatext-color:#000000;
/* Button  */

/* Dropdown  */

    --dropdown-fill-color:#FFFC5E00;
    --dropdown-border-radius: 0rem;
    --dropdown-border-size: 1px;
    --dropdown-border-color: #FFFC5E;
    --dropdown-text-color: #FFFC5E;
    --dropdown-fill-hover:#FFFC5E;
    --dropdown-text-hover:#000000;

/* Dropdown  */





/*Theme Tags */

    --tag-padding: .5rem 1rem;
    --tag-border-radius: 0px;
    --tag-border-size: 1px;
    --tag-border-color: #00ffbf;

    --tagText-size:.75rem;
    --tagText-weight:normal;
    --tagText-letterspacing:normal;
    --tagText-color:#00ffbf;

    --tag-fill-hover: #00ffbf;
    --tag-text-hover:#000000;

/*Theme Tags */



/* Navigation  */

    --navItem: #b7b59a;
    --navHover: #00ffbf;
    --navHoverText:#000;
    --navActive: #282828;
    --navBackground: #fbfcff00;
    --navBorder: #3e3e3e;
    --navCorners: 0px;
    --navItemAnimate: fade-in-bg 0s ease;

    --navCategoryText-size: 0.8rem;
    --navCategoryText-type: "Bai Jamjuree", sans-serif;
    --navCategoryText-weight: normal;
    --navCategoryText-letterspacing: normal;
    --navCategoryText-transform: uppercase;
    --navCategoryText-color: #6ad49e;

    --navItemText-size: 1rem;
    --navItemText-type: "Bai Jamjuree", sans-serif;
    --navItemText-weight: normal;
    --navItemText-letterspacing: normal;
    --navItemText-transform: uppercase;
    --navItemText-color: #dddddd;


    --socialFooterBg: #ebeeff;
    --socialFooterBorder: #000;
    --socialFooterBorderSize: 0px;
    --socialIcon: #f5fb8b;
    --socialHoverIcon: #494b53;

/* Navigation  */



/* Main Hero Section  */
    --IntroNameText-size: clamp(1.5rem, 1.368rem + 0.585vw, 2rem);
    --IntroNameText-type: "Bai Jamjuree", sans-serif;
    --IntroNameText-weight: normal;
    --IntroNameText-letterspacing: normal;
    --IntroNameText-transform: none;
    --IntroNameText-color: #FFFC5E;

  
    --hdisplay1-type: "okami";
    --hdisplay1-weight: 400;
    --hdisplay1-letterspacing: normal;
    --hdisplay1-transform: uppercase;
    --hdisplay1-color: #FFFC5E;
    --hdisplay1-bg: linear-gradient(90deg, #FFE500 0%, #ffea00 100%);
    --hdisplay1-size: clamp(5rem, 3.421rem + 7.018vw, 11rem);
    --hdisplay1-lineheight: clamp(5rem, 3.421rem + 7.018vw, 11rem);


    --hdisplay2-type: "okami";
    --hdisplay2-weight: 400;
    --hdisplay2-letterspacing: 12px;
    --hdisplay2-transform: uppercase;
    --hdisplay2-color: #ffffff;
    --hdisplay2-font-size:clamp(3rem, 1.487rem + 6.725vw, 8.75rem);
    --hdisplay2-line-height:clamp(3rem, 1.487rem + 6.725vw, 8.75rem);

    --hdisplaysub-size: clamp(0.75rem, 0.684rem + 0.292vw, 1rem);
    --hdisplaysub-type: "Bai Jamjuree", sans-serif;
    --hdisplaysub-weight: normal;
    --hdisplaysub-letterspacing: normal;
    --hdisplaysub-transform: uppercase;
    --hdisplaysub-color: #FFFC5E;

    --hparagraph:clamp(1rem, -0.167rem + 1.667vw, 1.5rem);

    --hero-backgroundcolor: #29193A;
    --hero-background: #20122f;

/* Main Hero Section  */

/* Animation */
    --animation-type:fade;



}